body {
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  background-image: url("https://stringfixer.com/files/29008461.jpg");
  color: #ffffff
}

.main {
  background-color: #000000;
  opacity: 0.3
}

.profile {
  padding: 30px;
}

