/* ----- Big Bodies ----- */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    background-color: white;
}

/* ----- Navigation Bar ----- */

.navbar {
    width: 100%;
    margin: auto;
    background-color: white;
    overflow: hidden;
    /* position: fixed;
    top: 0; */
    box-shadow: 0px 2px 30px #9896b6;
    /* border: 10px solid black; */
    height: 87.71px;
    z-index:0;
    position: relative;
}

.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 0px 100px;
    width: 100%;
}

.navbar li {
    float: left;
    color: black;
}

.navbar .space {
    padding: 0px 5px;
    color: transparent;
}

.navbar .logo {
    background-image: url(logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    background-attachment:local;
    padding: 43.855px 100px;
    color: transparent;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 32px 40px;
    text-decoration: none;
}


.navbar li a:hover:not(.active) {
    background-color: #d2d9eb;
    color: black;
}

.navbar .active {
    background-color: #4b6bb8;
    color: white;
}

/* ----- Socials ----- */

.socials {
    padding: 0px 100px;

}

.socials ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.socials li {
    float: right;
    color: black;
}

.socials img {
    height: 30px;
    width: auto;
    padding: 23.855px 10px;
}

/* ----- Elements ----- */

img.profile {
    border-radius: 50%;
    }
    

.profile_bg {
    background: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810353.jpg?w=1060&t=st=1661323993~exp=1661324593~hmac=34d2a0a8efb1282478bec4fa99b2499b2330bf9f86b4cb5dca2d0546245d7d38");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.profile .img_div {
    width: 400px;
    height: auto;
    /* box-shadow: 0px 10px 10px #8b96af; */
}

.right_info {
    float: right;
    padding: 38.75px 30px;
    width: 500px;
    /* height: 340px; */
    margin: 0%;
    } 

.right_info table th{
    text-align: left;
}

.right_info table td{
    padding-left: 20px;
}

/* .form {
    color: white;
    background-color: black;
} */

.center {
    max-width: 1000px;
    margin: auto;
}

.divider {
    padding: 50px;
    background-color: transparent;
}

