body {
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  background: black url("https://stringfixer.com/files/29008461.jpg") no-repeat fixed center;
}

.main {
  background-color: black;
  opacity: 0.3
}

.profile {
  padding: 30px;
  color: white;
}

